# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdm.toml
*.pdm.lock

# Virtualenv
.venv/
env/
venv/

# VS Code / PyCharm
.vscode/
.idea/

# Django stuff
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Mac/Linux
.DS_Store
Thumbs.db

# Pipenv/Poetry
Pipfile.lock
poetry.lock
